{:nrepl {:port 7002}
 :builds
        {:app
               {:target     :browser
                :output-dir "target/cljsbuild/public/js"
                :asset-path "/js"
                :source-map true
                :js-options {:entry-keys ["browser" "main"]}
                :modules    {:app {:entries [stage.app]}}
                :devtools   {:watch-dir "resources/public"}
                :release    {:source-map true}}}
 :lein  {:profile "+dev-shadow"}}
